wp-admin/
wp-includes/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/
wp-content/index.php
wp-*.php
xmlrpc.php
*.log
wp-content/plugins/masandpass/assets/js/node_modules/
wp-content/plugins/masandpass/vendor/
